* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth; 
  }
  body {
    max-width: 1040px;
    min-height: 100vh;
    margin: 0 auto; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: normal;
  }
  .section-item a {
    color: white;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
.header {
  background-color: #3b3b3d;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 10px;
    transition: .3s;
    text-decoration: none;
    color: white;
  }
.main {
  height: 100%;
  border: 1px solid red;
  display: flex;
}
.footer {
    border: 1px solid red;
}
.aside {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #3b3b3d;
    padding-left: 40px;
    padding-right: 10px;
  }
.column-main {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #3b3b3d;
  padding-left: 40px;
  padding-right: 10px;
}
.section {
    width: 100%;
  }
.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
  }
.section-title-main {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #3b3b3d;
  }
  .link {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: white;
  }
  .text-column {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }